<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Practicas</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <style>
          body {
            background-color: #f8f9fa;
          }
          .practica-container {
            margin-top: 100px;
            text-align: center;
          }
          .practica-heading {
            font-size: 52px;
            margin-bottom: 10px;
            color: #000000;
          }
          .practica-message {
            font-size: 24px;
            color: #6c757d;
          }
        </style>
      </head>
      <body>
      
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-3 practica-container">
              <h1 class="practica-heading">Practicas 2do parcial</h1>
              <p class="practica-message">Practica 1. Insertar, Eliminar y Editar empleado</p>
              <a href="/index" class="btn btn-primary">Ir a Practica 1</a>
              <p class="practica-message">Practica 2. Pizzeria</p>
              <a href="/pizza" class="btn btn-primary">Ir a Practica 2</a>
            </div>
          </div>
        </div>
      
      </body>
      </html>
      